<div class="card mb-3 pr-3 col-md-3 card-box">
    <div class="inner-box">
        <div class="card-header">{{ customer.name }}</div>
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="{{ customer.iconUrl }}" class="card-img"  alt="{{ customer.name }}">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <p class="card-location card-text">{{ customer.location }}</p>
                <p class="card-orders card-text"><small class="text-muted">{{ customer.orders }} orders</small></p>
            </div>
            </div>
        </div>
        <div class="card-footer-btn">
            <Button class="btn btn-primary" 
                routerLink = "/customer/profile/{{customer.id}}">View Profile
            </Button>
        </div>
    </div>
</div>
<!-- (click) = "viewProfile($event, customer)" -->